.app-heared {
    align-items: flex-end;
}

.app-header h1 {
    flex-grow: 1;
    margin-left: 0.5rem;
}

.app-header h2 {
    font-size: 1.2rem;
    color: grey;
    display: flex;
    align-items: flex-end;
    margin-right: 0.75rem;
}